@model IEnumerable<HardwareAffinity.Web.ViewModels.Carts.CartProductViewModel>

@{
    var userName = this.User.Identity.Name;
    this.ViewData["Title"] = $"{userName}'s cart";
}

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
</head>

@if (this.Model.Count() == 0)
{
    <div class="error-img">
        <img src="~/img/cart.png" alt="cartImage" width="300" />
    </div>
    <div class="error-notfound-msg">Seems that you have no products in your cart, @userName.</div>
    <div class="text-center">
    <a class="homepage-button" asp-controller="Home" asp-action="Index">
        Go to homepage
        </a>
    </div>
}
else
{
    <div class="float-right">
        <b>@userName, you have @this.Model.Count() products in your cart. Total amount: € @this.Model.Sum(p => p.Price)</b>
    </div>
    <div class="container-custom">
        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Details</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in this.Model)
                        {
                            <tr>
                                <th scope="row" class="w-25">
                                    <img src="@product.MainImageUrl" class="img-fluid img-thumbnail" alt="@product.Title" />
                                </th>
                                <td>@product.Title</td>
                                <td>@product.ShortDescription</td>
                                <td>€ @product.Price</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                                        <i class="fas fa-info-circle"></i>
                                        Details
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="Carts" asp-action="RemoveFromCart" asp-route-productId="@product.Id">
                                        <i class="fas fa-minus-circle"></i>
                                        Remove
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
