@model IEnumerable<HardwareAffinity.Web.ViewModels.Favorites.FavoriteProductViewModel>
@{
    var userName = this.User.Identity.Name;
    this.ViewData["Title"] = $"{userName}'s favorites";
}

@if (this.Model.Count() == 0)
{
    <h1 class="text-center">There are no favorite products in your favorites list @userName!</h1>
}
else
{
    <div class="float-right">
        <b>@userName, you have @this.Model.Count() favorite products.</b>
    </div>
    <div class="container-custom">
        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var favoriteProduct in this.Model)
                        {
                            <tr>
                                <th scope="row" class="w-25">
                                    <img src="@favoriteProduct.MainImageUrl" class="img-fluid img-thumbnail" alt="@favoriteProduct.Title" />
                                </th>
                                <td>@favoriteProduct.Title</td>
                                <td>@favoriteProduct.ShortDescription</td>
                                <td>€ @favoriteProduct.Price</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}