@model IEnumerable<HardwareAffinity.Web.ViewModels.Favorites.FavoriteProductViewModel>
@{
    var userName = this.User.Identity.Name;
    this.ViewData["Title"] = "Favorites";
}

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
</head>

@if (this.Model.Count() == 0)
{
    <div class="error-img">
        <img src="~/img/star.jpg" alt="favoritesImage" width="100" />
    </div>
    <div class="error-notfound-msg">You have no favorites yet, @userName.</div>
    <div class="error-notfound-msg">Products you mark as favorite will show up here.</div>
    <div class="text-center">
        <a class="homepage-button" asp-controller="Home" asp-action="Index">
            Go to homepage
        </a>
    </div>
}
else
{
    <div class="float-right">
        <b>@userName, you have @this.Model.Count() favorite products.</b>
    </div>
    <div class="container-custom">
        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Details</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var favoriteProduct in this.Model)
                        {
                            <tr>
                                <th scope="row" class="w-25">
                                    <img src="@favoriteProduct.MainImageUrl" class="img-fluid img-thumbnail" alt="@favoriteProduct.Title" />
                                </th>
                                <td>@favoriteProduct.Title</td>
                                <td>@favoriteProduct.ShortDescription</td>
                                <td>€ @favoriteProduct.Price</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Products" asp-action="Details" asp-route-id="@favoriteProduct.Id">
                                        <i class="fas fa-info-circle"></i>
                                        Details
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="Favorites" asp-action="RemoveFromFavorites" asp-route-productId="@favoriteProduct.Id">
                                        <i class="fas fa-minus-circle"></i>
                                        Remove
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}