@model HardwareAffinity.Web.ViewModels.Categories.CategoryDisplayModel
@using static HardwareAffinity.Common.GlobalConstants

@{
    this.ViewData["Title"] = this.Model.Title;
}
<div id="ConfirmDeletePlaceholder"></div>

<div class="float-right">
    @if (this.Model.AreOrderedByName)
    {
        <a asp-controller="Categories" asp-action="OrderByNameDescending" asp-route-page="@this.Model.CurrentPage" asp-route-categoryId="@this.Model.Id" class="btn btn-info">
            <i class="fas fa-arrow-down"></i> Name
        </a>
    }
    else
    {
        <a asp-controller="Categories" asp-action="OrderByName" asp-route-page="@this.Model.CurrentPage" asp-route-categoryId="@this.Model.Id" class="btn btn-info">
            <i class="fas fa-arrow-up"></i> Name
        </a>
    }

    @if (this.Model.AreOrderedByPrice)
    {
        <a asp-controller="Categories" asp-action="OrderByPriceDescending" asp-route-page="@this.Model.CurrentPage" asp-route-categoryId="@this.Model.Id" class="btn btn-info">
            <i class="fas fa-arrow-down"></i> Price
        </a>
    }
    else
    {
        <a asp-controller="Categories" asp-action="OrderByPrice" asp-route-page="@this.Model.CurrentPage" asp-route-categoryId="@this.Model.Id" class="btn btn-info">
            <i class="fas fa-arrow-up"></i> Price
        </a>
    }
</div>
<div class="clearfix"></div>
<div class="container-custom">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">View</th>
                        @if (this.User.IsInRole(AdministratorRoleName))
                        {
                            <th scope="col">Delete</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in this.Model.AllProducts)
                    {
                        var trId = Guid.NewGuid().ToString();
                        <tr id="@trId">
                            <th scope="row" class="w-25">
                                <img src="@product.MainImageUrl" class="img-fluid img-thumbnail" alt="@product.Title" />
                            </th>
                            <td>@product.Title</td>
                            <td>@product.ShortDescription</td>
                            <td>€ @product.Price</td>
                            <td><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Details</a></td>
                            @if (this.User.IsInRole(AdministratorRoleName))
                            {
                                <td><a class="btn btn-danger" onclick="showConfirmDeleteModal('@Url.Action("ConfirmDelete", "Products")', '@product.Id', '@trId')"><i class="fas fa-trash-alt"></i> Delete
                                    </a>
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

