@using static HardwareAffinity.Common.GlobalConstants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@SystemName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            if (this.User.IsInRole(AdministratorRoleName))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="AddCategory">Add category</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Carts" asp-action="MyCart">
                                    <i class="fas fa-shopping-cart"></i>
                                    Cart
                                </a>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Categories" asp-action="All" asp-route-categoryId="1">TV</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="All" asp-route-categoryId="2">Smartphones</a>
                                <a class="dropdown-item" asp-controller="Categories" asp-action="All" asp-route-categoryId="3">Audio</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li>
                            <form asp-controller="Search" asp-action="SearchProducts" method="get">
                                <div class="input-group">
                                    <input name="query" class="form-control search-field" placeholder="Search product..." />
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-info"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (this.TempData["InfoMessage2"] != null)
    {
        <div id="tempData-success" class="alert alert-success text-center">
            @this.TempData["InfoMessage2"]
        </div>
    }
    @if (this.TempData["InfoMessage"] != null)
    {
        <div id="tempData" class="alert alert-danger text-center">
            @this.TempData["InfoMessage"]
        </div>
    }
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; @DateTime.Now.Year - @SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a target="_blank" href="https://github.com/vib1336/HardwareAffinity" class="float-right">
                <i class="fab fa-github"></i>
                Open Source
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/detailsPage.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
