@model HardwareAffinity.Web.ViewModels.Products.ProductDetailsViewModel
@using static HardwareAffinity.Common.GlobalConstants
@{
    this.ViewData["Title"] = this.Model.Title;
}


<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">All Categories</a></li>
                    @for(int i = 0; i < this.Model.Categories.Count; i++)
                    {
                    <li><a asp-controller="Categories" asp-action="All" asp-route-categoryId="@this.Model.Categories[i].Id">@this.Model.Categories[i].Title</a></li>
                    }
                    <li class="active">@this.Model.Title</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<div id="PlaceHolderHere"></div>
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    @for (int i = 0; i < this.Model.Images.Count; i++)
                    {
                    <div class="product-preview">
                        <img src="@this.Model.Images[i].ImageUrl" alt="@this.Model.Title">
                    </div>
                    }

                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @for (int i = 0; i < this.Model.Images.Count; i++)
                    {
                    <div class="product-preview">
                        <img src="@this.Model.Images[i].ImageUrl" alt="@this.Model.Title">
                    </div>
                    }
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@this.Model.Title</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a class="review-link" href="#">@this.Model.Comments.Count() Review(s) | Add your review</a>
                    </div>
                    <div>
                        <h3 class="product-price">$@this.Model.Price <del class="product-old-price">$990.00</del></h3>
                        <span class="product-available">In Stock</span>
                    </div>
                    <p>@this.Model.Description</p>

                    <div class="product-options">
                        <label>
                            Size
                            <select class="input-select">
                                <option value="0">X</option>
                            </select>
                        </label>
                        <label>
                            Color
                            <select class="input-select">
                                <option value="0">Red</option>
                            </select>
                        </label>
                    </div>

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Qty
                            <div class="input-number">
                                <input type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>

                    <ul class="product-btns">
                        @if (!this.Model.IsAddedToFavorites)
                        {
                            <li><a asp-controller="Favorites" asp-action="AddToFavorites" asp-route-id="@this.Model.Id"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                        }
                        @if (this.User.IsInRole(AdministratorRoleName))
                        {
                            <li>
                                <button data-toggle="ajax-modal"
                                data-target="#editProduct" data-url="@Url.Action("EditProduct", "Products", new { id = this.Model.Id})">
                                <i class="fa fa-pencil"></i> edit
                                </button>
                            </li>
                        }
                    </ul>

                    <ul class="product-links">
                        <li>Category:</li>
                        <li><a asp-controller="Categories" asp-action="All" asp-route-categoryId="@this.Model.CategoryId">@this.Model.CategoryTitle</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                        <li><a data-toggle="tab" href="#tab2">Details</a></li>
                        <li><a data-toggle="tab" href="#tab3">Reviews (@this.Model.Comments.Count())</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@this.Model.Description</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->
                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>4.5</span>
                                            <div class="rating-stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 80%;"></div>
                                                </div>
                                                <span class="sum">3</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 60%;"></div>
                                                </div>
                                                <span class="sum">2</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->
                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <form id="sendCommentVoteForm" method="post"></form>
                                        <ul class="reviews">
                                            @foreach(var comment in this.Model.Comments)
                                            {
                                            var positiveVotesId = Guid.NewGuid().ToString();
                                            var negativeVotesId = Guid.NewGuid().ToString();
                                            var commentContent = comment.IsDeleted ? "<em>The comment was deleted by admin.</em>" : comment.SanitizedContent;
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">@comment.UserUserName</h5>
                                                    <p class="date"><time datetime="@comment.CreatedOn.ToString("O")"></time></p>
                                                    <div class="review-rating">
                                                        <a href="#" onclick="sendCommentVote(@comment.Id, true, '@positiveVotesId', '@negativeVotesId')">
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </a>
                                                        <span id="@positiveVotesId">@comment.CommentPositiveVotes</span>
                                                        <a href="#" onclick="sendCommentVote(@comment.Id, false, '@positiveVotesId', '@negativeVotesId')">
                                                            <i class="fa fa-thumbs-down"></i>
                                                        </a>
                                                        <span id="@negativeVotesId">@comment.CommentNegativeVotes</span>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>@Html.Raw(commentContent)</p>
                                                </div>
                                                <div>
                                                    <a class="btn btn-sm btn-primary" href="#">Reply</a>
                                                    @if (this.User.IsInRole(AdministratorRoleName))
                                                    {
                                                    <a class="btn btn-sm btn-danger" href="#">Delete</a>
                                                    }
                                                </div>
                                            </li>
                                            }
                                        </ul>
                                        <ul class="reviews-pagination">
                                            <li class="active">1</li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Reviews -->
                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">
                                        <partial name="_PostCommentForm" model="this.Model.Comment" />
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->